body {
	min-height: 800px;
	height: 100vh;
	overflow: hidden;
	background-size: 100vw 100vh;

	background-repeat: no-repeat;
	transition: background-image 1s ease-in;
}

* {
	box-sizing: border-box;
}

.fast-transition {
	transition: background-image .1s ease-in;
}
