body {
  position: relative;
  overflow: scroll;
  overflow-y: hidden;
  transition: opacity 1s ease-in;
}

img {
  image-orientation: from-image;
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
