body {
    position: relative;
    overflow: hidden;
    background-size: 100vw 100%;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in;
}

* {
    box-sizing: border-box;
}

.fast-transition {
    transition: background-image .1s ease-in;
}