$tahoma: 'Tahoma';
$josefinSans: 'Josefin Sans',
sans-serif;
$whiteTrans: rgba(255, 255, 255, 0.85);
$graySelect: rgba(0, 0, 30, 0.3);
$blackTrans: rgba(0, 0, 0, 0.75);
$whiteSelect: rgba(255, 255, 255, 0.85);