<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Evan Wintschel Photography</title>
</head>

<body>
    <div style="opacity: 1" class="site-reveal">
        <% include app/html-modules/_loading-spinner.ejs %>
    </div>
    <div class="page-content" style="opacity: 0">
        <div class="site-header">
            <div class="site-header__menu-box">
                <button class="pause-btn">pause background</button>
                <a class="site-header__menu-content">BUY PRINTS</a>
            </div>
            <h1 class="site-header__title">Evan Wintschel</h1>
            <div class="site-header__menu-box site-header__menu-box--right">
                <a class="site-header__menu-content
                    site-header__menu-content--right" id="about-button">ABOUT</a>
                <div class="site-header__social-div">
                    <ls>
                        <li class="site-header__social-item">
                            <a class="site-header__social-link" href="https://www.instagram.com/evanwintschel/" target="_blank">@ewphotography
                                <img class="site-header__social-img"
                                    src="assets/images/icons/insta-icon.png">
                            </a>
                        </li>
                        <br />
                        <li class="site-header__social-item">
                            <a class="site-header__social-link" id="email">ewphotography@gmail.com</a>
                        </li>
                        <li class="site-header__copy-alert">Copied to Clipboard!</li>
                    </ls>
                </div>
            </div>
        </div>

        <div class="content-area">
            <div class="content-area__box">
                <h2 class="content-area__heading">Albums</h2>
                <span></span>
                <ul class="content-area__list">
                    <% include app/html-modules/_album-list.ejs %>
                </ul>

                <div class="about-overlay">
                    <p class="about-overlay__text">this is about evan evan wintcschel evan evan meow evan evan wintschel takes photos evan photos evan evan eavna witncht wines wevan photo</p>
                    <p class="about-overlay__close-button">X</p>
                </div>
            </div>
        </div>

        <div class="lightbox">
            <span class="lightbox__close-button"> x </span>
            <div class="lightbox__content">
                <div class="lightbox__current-slide">
                    <span class="lightbox__image-number">1/4</span>
                    <a class="lightbox__nav lightbox__nav--previous">
                        <</a>
                            <a class="lightbox__nav lightbox__nav--next">></a>
                            <img class="lightbox__current-image" src="">
                            <span class="lightbox__description">This is a nice photo.</span>
                </div>
            </div>
            <div class="lightbox__thumbnail-container">
                <!-- <img class=lightbox__thumbnail src="./assets/images/albums/Gumpers Gumping/07980022.JPG">
                <img class=lightbox__thumbnail src="./assets/images/albums/Gumpers Gumping/07990014_1-bg.jpg">
                <img class=lightbox__thumbnail src="./assets/images/albums/Gumpers Gumping/08000002_1-bg.jpg">
                <img class=lightbox__thumbnail src="./assets/images/albums/Gumpers Gumping/08000011_1-bg.JPG"> -->
            </div>


        </div>
    </div>
</body>

</html>