.lightbox {
    z-index: -10;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    min-height: 80%;
    background-color: $blackTrans;
    font-family: $josefinSans;
    color: white;
    user-select: none;
    transition: opacity .5s ease-in;
    &--is-visible {
        opacity: 1;
    }
    &--is-above {
        z-index: 1;
    }
    &__close-button {
        position: absolute;
        right: 10px;
        font-size: 35px;
        font-family: Verdana, sans-serif;
        font-weight: 600;
        z-index: 10;
        /*above everything*/
        cursor: pointer;
        &:hover {
            color: $whiteSelect;
        }
    }
    &__nav {
        position: absolute;
        top: 50%;
        text-decoration: none;
        padding: 10px;
        font-size: 1.5em;
        transition: background-color 500ms;
        user-select: none;
        cursor: pointer;
        &:hover {
            background-color: $blackTransNav;
        }
        &--previous {
            left: 0;
        }
        &--next {
            right: 0;
        }
    }
    &__content {
        width: 100%;
        height: 86%;
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        &--fullscreen {
            height: 100vh;
            width: 100vw;
            text-align: center;
            padding-top: 0;
        }
    }
    &__current-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: auto;
        height: 100%;
        opacity: 0;
        transition: height 500ms, width 500ms;
        z-index: 3;
        /*above thumbnails*/
        &--is-visible {
            transition: opacity .2s ease-in;
            opacity: 1;
        }
    }
    &__current-image {
        height: 96%;
        &--fullscreen {
            height: 100%;
        }
    }
    &__description {
        padding-top: 10px;
    }
    &__image-number {
        z-index: 2;
        position: absolute;
        top: 6px;
        left: 10px;
    }
    &__fullscreen-icon {
        z-index: 2;
        position: absolute;
        bottom: 5%;
        right: 10px;
        cursor: pointer;
        transition: transform 200ms;
        &:hover {
            transform: scale(1.1, 1.1);
        }
        &--fullscreen {
            bottom: 1%;
        }
    }
    &--fullscreen-overlay {
        position: fixed;
    }
    &__thumbnail-container {
        opacity: 0;
        margin: 10px auto 0;
        height: 11%;
        width: 90%;
        display: flex;
        justify-content: center;
        transition: none;
        overflow: scroll;
        &--is-visible {
            transition: opacity .2s ease-in;
            opacity: 1;
        }
    }
    &__thumbnail {
        opacity: .5;
        margin: 0 10px;
        height: 100%;
        cursor: pointer;
        &--is-current {
            opacity: 1;
        }
    }
}